.bookmark-container h2 {
    text-align: center;
}

.bookmarked-movies {
    display: flex;
    justify-content: center;

}

.movie-card {
    background-color: rgb(91, 91, 126, 0.3);
}

.movie-card h3 {
    margin-top: 20px;
    min-height: 40px;
}

.movie-card p {
    min-height: 120px;
}

.movie-card button {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgba(79, 49, 197, 0.6);
}