.category-selector {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  margin: 10px 0;
}

.category-link {
  width: 40%;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 10px;
  color: white;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: rgba(0, 123, 255, 0.3);
}

/* Hover-effekt för länkarna */
.category-link:hover {
  background-color: #007bff;
  color: #fff;
}