.search-results {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(91, 91, 126);
    color: white;
    min-width: 300px;
    padding: 10px;
}

.CategoryPage-link,
.BookmarkPage-link {
    text-decoration: none;
    color: white;

}

input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.menu-open .CategoryPage-link,
.menu-open .BookmarkPage-link {
    display: block;
}

@media (max-width: 768px) {

    .CategoryPage-link,
    .BookmarkPage-link {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .menu-open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


@media (max-width: 768px) {

    .search-results {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
}