.recommended-movies {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
/* Lägg till pseudoelement för att skapa en scrollbar om det behövs */
.recommended-movies::-webkit-scrollbar {
    width: 8px;
    /* Justera scrollbarbredden efter dina önskemål */
}

.recommended-movies::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.recommended-movies {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /* Lägg till andra stilar efter behov */
}
.movie-card {
    flex: 0 0 auto;
    width: 250px;
    margin-right: 10px;
    scroll-snap-align: start;
    background-color: #fff;
    /* Bakgrundsfärg för filmkortet */
    border: 1px solid #ddd;
    /* Kanteffekt för filmkortet */
    border-radius: 5px;
    /* Rundade hörn för filmkortet */
    padding: 10px;
    /* Inre utrymme för filmkortet */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Skugga för filmkortet */
    /* Lägg till andra stilar efter behov */
}